<ion-view title="Soulmate">
  <ion-content class="has-header padding">
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Man</span>
    <input type="text" id="cowok" placeholder="Enter here...">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Woman</span>
    <input type="text" id="cewek" placeholder="Voila here...">
  </label>
</div>
<div>
<button class="button button-full button-assertive" onclick="calculate()" value="Check Soulmate">
  Check Soulmate
</button>
</div>
<div style="text-align: center;" class="card">
  <div id="result" class="item item-text-wrap">Result! 
  </div>
</div>
  </ion-content>
</ion-view>
